
*{
    background-image: url();
    align-items: center;
    
}

h2 {
    text-align: center; 
     text-decoration: underline;
     margin-bottom: 0px;
     margin-top: 2px;
}

h3 {
    text-align: center; 
     text-decoration: underline;
     margin-top: 0px;
}


table{
    border-style: dotted;  
    
}

td{
    font-size: 20px;
}

h4{
    text-align: center;
}